<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/slate/bootstrap.min.css">
    <link src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html">Word Recognition</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
            </ul>
        </div>
</nav>

</head>

<body>
    <header>
        <br>
        <b>
            <h1 class='text-center'>Word Recognition</h1>
        </b>
    </header>
    <div class="container">
        <div class="text-center">
            <!-- <br> -->
            <br>

        </div>

        <div class="container">
                <div class="card border-info">
                    <div class='card-header'>
                        <div class="form-group">
                            <label for="selDataset">Upload Sample:</label>
                            <form method=post enctype=multipart/form-data>
                                <input type=file name=file>
                                <input type=submit value=Upload>
                            </form>
                        </div>
                        <div class="text-center">
                            
                            <br>
                            <p>
                                <a class="btn btn-primary btn-lg" href="/predict" target="_blank" role="button">PREDICT THAT WORD!</a>
                            </p>
                        </div>
                    </div>
                </div>   
                <div class="jumbotron">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="graphic"></div>
                        </div>
                    </div>
                </div>       
        </div>
    </div>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script type=text/javascript src="http://127.0.0.1:8080/js/graphic.js"></script>

</body>

</html>